hydra-core
tqdm
wandb
pre-commit
black
openai
openai-clip
open_clip_torch
diffusers
transformers
nltk
accelerate
sentencepiece
peft
compel
pytorch-lightning
ftfy
einops
pandas
opencv-python
ipywidgets
