hydra-core
tqdm
wandb
pre-commit
black
openai
openai-clip
open_clip_torch
diffusers
datasets
evaluate
transformers
nltk
accelerate
sentencepiece
peft
compel
pytorch-lightning
ftfy
einops
pandas
h5py
moviepy
opencv-python==4.5.4.60
